@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1c894;
  max-width: 1400px;
  margin: auto;
}

@keyframes scaling-animation {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
header {
  height: 12dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9e693d;
  box-shadow: 0px 5px 10px 0px #9e693d;
}
header .hamburger {
  height: 50px;
  width: 40px;
  padding: 1rem;
  margin-left: 0.2rem;
  background-color: #9e693d;
  position: relative;
  align-self: center;
}
header .hamburger span {
  height: 5px;
  width: 100%;
  background-color: #d1c894;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
header .hamburger span:nth-child(1) {
  top: 25%;
}
header .hamburger span:nth-child(3) {
  top: 75%;
}
header .hamburger.active span {
  background-color: #d1c894;
  z-index: 999;
}
header .hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
header .hamburger.active span:nth-child(2) {
  opacity: 0;
}
header .hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
header p {
  align-self: center;
  font-family: "Italianno", cursive;
  font-weight: 800;
  font-size: 2.3rem;
  color: #d1c894;
  margin-top: 0.3rem;
  cursor: pointer;
}
header .menu-points {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  background-color: #9e693d;
  max-width: 768px;
  position: fixed;
  top: 0;
  left: -768px;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Quintessential", serif;
  transition: 0.3s ease;
  z-index: 998;
}
header .menu-points.active {
  left: 0;
}
header .menu-points li {
  list-style: none;
  margin-top: 4.2rem;
}
header .menu-points li a {
  text-decoration: none;
  color: #d1c894;
}
header .menu-points li:hover {
  background-color: #d1c894;
}
header .menu-points li:hover a {
  color: #9e693d;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }
  header .hamburger {
    display: none;
  }
  header p {
    font-size: 3rem;
  }
  header .menu-points {
    height: 6vh;
    width: 100%;
    background-color: #d1c894;
    max-width: 1400px;
    position: absolute;
    top: 12vh;
    left: auto;
    font-size: 1.5rem;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px #9e693d;
  }
  header .menu-points ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header .menu-points ul li {
    margin-top: 0;
  }
  header .menu-points ul li a {
    color: #9e693d;
  }
  header .menu-points ul li:hover {
    background-color: #9e693d;
  }
  header .menu-points ul li:hover a {
    color: #d1c894;
  }
}
#introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0.3rem 0.2rem;
  font-family: "Montserrat", sans-serif;
  color: #9e693d;
}
#introduction h3 {
  position: absolute;
  top: 2rem;
}
#introduction img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 60%;
  object-fit: cover;
  animation: scaling-animation 3s cubic-bezier(0.4, 0, 0.18, 1) 100ms 1 alternate;
  z-index: -1;
}
#introduction p {
  margin-top: 5rem;
  padding: 1rem 0.3rem;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  #introduction {
    margin: 6vh 0 0;
    padding: 0.5rem 0;
    height: 25dvh;
  }
  #introduction p {
    font-size: 1.1rem;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.2rem;
}
.buttons .btn {
  height: 2rem;
  width: 6rem;
  background-color: #e4e2d6;
  color: #9e693d;
  border: 1px solid #9e693d;
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  font-size: 1.1rem;
}
.buttons .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.buttons .btn.active {
  color: #e4e2d6;
  background-color: #9e693d;
  border: 1px solid #e4e2d6;
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}
.tables #food1,
.tables #food2,
.tables #drinks1,
.tables #drinks2 {
  height: fit-content;
  width: 90%;
  color: #9e693d;
  border-top: 2px dashed #9e693d;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  padding: 0.5rem;
  font-size: 0.95rem;
}
.tables #food1 tr,
.tables #food2 tr,
.tables #drinks1 tr,
.tables #drinks2 tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.tables #food1 tr td.name,
.tables #food2 tr td.name,
.tables #drinks1 tr td.name,
.tables #drinks2 tr td.name {
  font-weight: 600;
}
.tables #food1 tr td.price,
.tables #food2 tr td.price,
.tables #drinks1 tr td.price,
.tables #drinks2 tr td.price {
  font-style: italic;
}
.tables #food1.passive,
.tables #food2.passive,
.tables #drinks1.passive,
.tables #drinks2.passive {
  display: none;
}
.tables #food2,
.tables #drinks2 {
  border-bottom: 2px dashed #9e693d;
}

@media screen and (min-width: 768px) {
  .buttons {
    margin-top: 2rem;
  }
  .buttons .btn {
    width: 10rem;
  }
  .tables #food1,
  .tables #food2,
  .tables #drinks1,
  .tables #drinks2 {
    width: 80%;
    font-size: 1.1rem;
  }
  .tables #food1 tr,
  .tables #food2 tr,
  .tables #drinks1 tr,
  .tables #drinks2 tr {
    max-width: 60%;
    margin: auto;
  }
}
.galery-and-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.galery-and-reservation #galery {
  margin-top: 1.5rem;
}
.galery-and-reservation #galery .slides {
  position: relative;
}
.galery-and-reservation #galery .slides .slide {
  display: none;
  animation: fade 1.5s ease;
}
.galery-and-reservation #galery .slides .slide img {
  width: 100%;
  max-height: 60dvw;
  object-fit: cover;
  overflow-clip-margin: unset;
}
.galery-and-reservation #galery .slides .slide-text {
  color: whitesmoke;
  font-size: larger;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.galery-and-reservation #galery .slides .prev,
.galery-and-reservation #galery .slides .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}
.galery-and-reservation #galery .slides .prev:hover,
.galery-and-reservation #galery .slides .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.galery-and-reservation #galery .slides .next {
  right: 0;
}
.galery-and-reservation #galery .dots {
  text-align: center;
  margin-top: 0.5rem;
}
.galery-and-reservation #galery .dots .dot {
  height: 0.8rem;
  width: 0.8rem;
  cursor: pointer;
  margin: 0 0.2rem;
  background-color: #9e693d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.galery-and-reservation #galery .dots .active, .galery-and-reservation #galery .dots .dot:hover {
  background-color: #5f3f25;
}

#reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
#reservation h3 {
  text-align: center;
  padding-bottom: 0.3rem;
  width: 60%;
  border-bottom: 2px dashed #9e693d;
  margin-bottom: 1rem;
  font-weight: 600;
}
#reservation form {
  width: 80%;
}
#reservation form .form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}
#reservation form .form-input input,
#reservation form .form-input select,
#reservation form .form-input textarea {
  margin-top: 0.3rem;
  padding: 0.2rem;
  font-family: "Montserrat", sans-serif;
  background-color: #e4e2d6;
  resize: none;
}
#reservation form .form-input #date-and-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#reservation form .form-input #date-and-time #date {
  padding-right: 1.1rem;
}
#reservation form button {
  height: 2rem;
  width: 6rem;
  background-color: #e4e2d6;
  color: #9e693d;
  border: 1px solid #9e693d;
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  display: block;
  margin: 1rem auto;
}
#reservation form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
