@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1c894;
  max-width: 1400px;
  margin: auto;
}

@keyframes scaling-animation {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
header {
  height: 12dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9e693d;
  box-shadow: 0px 5px 10px 0px #9e693d;
}
header .hamburger {
  height: 50px;
  width: 40px;
  padding: 1rem;
  margin-left: 0.2rem;
  background-color: #9e693d;
  position: relative;
  align-self: center;
}
header .hamburger span {
  height: 5px;
  width: 100%;
  background-color: #d1c894;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
header .hamburger span:nth-child(1) {
  top: 25%;
}
header .hamburger span:nth-child(3) {
  top: 75%;
}
header .hamburger.active span {
  background-color: #d1c894;
  z-index: 999;
}
header .hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
header .hamburger.active span:nth-child(2) {
  opacity: 0;
}
header .hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
header p {
  align-self: center;
  font-family: "Italianno", cursive;
  font-weight: 800;
  font-size: 2.5rem;
  color: #d1c894;
  margin-top: 0.3rem;
  cursor: pointer;
}
header .menu-points {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  background-color: #9e693d;
  max-width: 768px;
  position: fixed;
  top: 0;
  left: -768px;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Quintessential", serif;
  transition: 0.3s ease;
  z-index: 998;
}
header .menu-points.active {
  left: 0;
}
header .menu-points li {
  list-style: none;
  margin-top: 4.2rem;
}
header .menu-points li a {
  text-decoration: none;
  color: #d1c894;
}
header .menu-points li:hover {
  background-color: #d1c894;
}
header .menu-points li:hover a {
  color: #9e693d;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }
  header .hamburger {
    display: none;
  }
  header .menu-points {
    height: 6vh;
    width: 100%;
    background-color: #d1c894;
    max-width: 1400px;
    position: absolute;
    top: 12vh;
    left: auto;
    font-size: 1.5rem;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px #9e693d;
  }
  header .menu-points ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header .menu-points ul li {
    margin-top: 0;
  }
  header .menu-points ul li a {
    color: #9e693d;
  }
  header .menu-points ul li:hover {
    background-color: #9e693d;
  }
  header .menu-points ul li:hover a {
    color: #d1c894;
  }
}
#introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0.3rem 0.2rem;
  font-family: "Montserrat", sans-serif;
  color: #9e693d;
}
#introduction h3 {
  position: absolute;
  top: 2rem;
}
#introduction img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 60%;
  object-fit: cover;
  animation: scaling-animation 3s cubic-bezier(0.4, 0, 0.18, 1) 100ms 1 alternate;
  z-index: -1;
}
#introduction p {
  margin-top: 5rem;
  padding: 1rem 0.3rem;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  #introduction {
    margin: 6vh 0 0;
    padding: 0.5rem 0;
    height: 25dvh;
  }
}

/*# sourceMappingURL=style.css.map */
