@use 'sass:color';

$main-background-color: #d1c894;
$title-background-color: #9e693d;
$btn-background-color: color.scale(#c8c5ac, $lightness: 50%);
$darker-title-background-color: color.scale(
  $title-background-color,
  $lightness: -40%
);
