@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$title-font: 'Italianno', cursive;
$menu-font: 'Quintessential', serif;
$text-font: 'Montserrat', sans-serif;
