@use './color' as *;
@use './font' as *;

@mixin heightAndWidth($height: 12dvh, $width: 100%) {
  height: $height;
  width: $width;
}
@mixin makeItFlex($flex-direction: column, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
