@use '../base/forward' as *;

header {
  @include heightAndWidth;
  @include makeItFlex(row, space-between);
  background-color: $title-background-color;
  box-shadow: 0px 5px 10px 0px $title-background-color;
  .hamburger {
    @include heightAndWidth(50px, 40px);
    padding: 1rem;
    margin-left: 0.2rem;
    background-color: $title-background-color;
    position: relative;
    align-self: center;

    span {
      @include heightAndWidth(5px);
      background-color: $main-background-color;
      border-radius: 25px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;

      &:nth-child(1) {
        top: 25%;
      }
      &:nth-child(3) {
        top: 75%;
      }
    }
    &.active span {
      background-color: $main-background-color;
      z-index: 999;

      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  h1 {
    align-self: center;
    font-family: $title-font;
    font-weight: 800;
    font-size: 2.3rem;
    color: $main-background-color;
    margin-top: 0.3rem;
    cursor: pointer;
  }
  .menu-points {
    @include heightAndWidth(100dvh);
    @include makeItFlex(column, unset);
    background-color: $title-background-color;
    max-width: 768px;
    position: fixed;
    top: 0;
    left: -768px;
    text-align: center;
    font-size: 2.2rem;
    font-family: $menu-font;
    transition: 0.3s ease;
    z-index: 998;

    &.active {
      left: 0;
    }
    li {
      list-style: none;
      margin-top: 4.2rem;
      a {
        text-decoration: none;
        color: $main-background-color;
      }
      &:hover {
        background-color: $main-background-color;

        a {
          color: $title-background-color;
        }
      }
    }
  }
}

@media screen and (min-width: $large) {
  header {
    justify-content: space-around;
    .hamburger {
      display: none;
    }

    h1 {
      font-size: 3rem;
    }
    .menu-points {
      @include heightAndWidth(6vh);
      background-color: $main-background-color;
      max-width: 1400px;
      position: absolute;
      top: 12vh;
      left: auto;
      font-size: 1.5rem;
      justify-content: center;
      box-shadow: 0px 5px 10px 0px $title-background-color;

      ul {
        @include makeItFlex(row, space-around);
        li {
          margin-top: 0;
          a {
            color: $title-background-color;
          }
          &:hover {
            background-color: $title-background-color;

            a {
              color: $main-background-color;
            }
          }
        }
      }
    }
  }
}
