@use '../base/forward' as *;

header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: $title-background-color;
  .hamburger {
    padding: 1rem;
    margin-left: 0.2rem;
    background-color: $title-background-color;
    height: 50px;
    width: 40px;
    position: relative;
    align-self: center;

    span {
      height: 5px;
      width: 100%;
      background-color: $main-background-color;
      border-radius: 25px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;

      &:nth-child(1) {
        top: 25%;
      }
      &:nth-child(3) {
        top: 75%;
      }
    }
    &.active span {
      background-color: $main-background-color;
      z-index: 1;

      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  p {
    align-self: center;
    font-family: $title-font;
    font-weight: 800;
    font-size: xx-large;
    color: $main-background-color;
  }
  .menu-points {
    background-color: $title-background-color;
    height: 100vh;
    width: 100%;
    max-width: 768px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;

    &.active {
      left: 0;
    }
    li {
      list-style: none;
      margin-top: 4.2rem;
      a {
        text-decoration: none;
        color: $main-background-color;
      }
      &:hover {
        background-color: $main-background-color;

        a {
          color: $title-background-color;
        }
      }
    }
  }
}
