@use '../base/forward' as *;

#introduction {
  @include makeItFlex(row);
  position: relative;
  padding: 0.3rem 0.2rem;
  font-family: $text-font;
  color: $title-background-color;

  h3 {
    position: absolute;
    top: 2rem;
  }

  img {
    @include heightAndWidth(100%);
    position: absolute;
    opacity: 60%;
    object-fit: cover;
    animation: scaling-animation 3s cubic-bezier(0.4, 0, 0.18, 1) 100ms 1
      alternate;
    z-index: -1;
  }

  p {
    margin-top: 5rem;
    padding: 1rem 0.3rem;
    text-align: justify;
  }
}

@media screen and (min-width: $large) {
  #introduction {
    margin: 6vh 0 0;
    padding: 0.5rem 0;
    height: 25dvh;
  }
}
