@use '../base/forward' as *;

.buttons {
  @include makeItFlex(row, space-around);
  margin-top: 1.2rem;

  .btn {
    @include button;
    font-size: 1.1rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &.active {
      color: $btn-background-color;
      background-color: $title-background-color;
      border: 1px solid $btn-background-color;
    }
  }
}
.tables {
  @include makeItFlex();
  margin-top: 1.5rem;
  #food1,
  #food2,
  #drinks1,
  #drinks2 {
    @include card;
    font-size: 0.95rem;
    tr {
      @include makeItFlex(row, space-between);
      padding: 0.3rem 0;
      td {
        &.name {
          font-weight: 600;
        }
        &.price {
          font-style: italic;
        }
      }
    }
    &.passive {
      display: none;
    }
  }
  #food2,
  #drinks2 {
    border-bottom: 2px dashed $title-background-color;
  }
}

@media screen and (min-width: $large) {
  .buttons {
    margin-top: 2rem;
    .btn {
      width: 10rem;
    }
  }

  .tables {
    #food1,
    #food2,
    #drinks1,
    #drinks2 {
      width: 80%;
      font-size: 1.1rem;
      tr {
        max-width: 60%;
        margin: auto;
      }
    }
  }
}
