@use '../base/forward' as *;

#reservation {
  @include makeItFlex();
  align-items: center;
  margin-top: 1.5rem;
  font-family: $text-font;
  color: $title-background-color;
  h3 {
    text-align: center;
    padding-bottom: 0.3rem;
    width: 60%;
    border-bottom: 2px dashed $title-background-color;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  form {
    width: 80%;
    .form-input {
      @include makeItFlex();
      padding-top: 1rem;
      font-weight: 500;
      input,
      select,
      textarea {
        margin-top: 0.3rem;
        border: 1px solid $title-background-color;
        padding: 0.2rem;
        font-family: $text-font;
        background-color: $btn-background-color;
        resize: none;
        color: $title-background-color;
        outline: none;
        &:focus {
          border: 2px solid $title-background-color;
        }
      }

      #date-and-time {
        @include makeItFlex(row, space-between);
        #date {
          padding-right: 1.1rem;
          color: inherit;
          &::-webkit-calendar-picker-indicator {
            filter: brightness(0) saturate(100%) invert(54%) sepia(7%)
              saturate(3315%) hue-rotate(345deg) brightness(80%) contrast(92%);
          }
        }
      }
      #number-of-persons::-webkit-outer-spin-button,
      #number-of-persons::-webkit-inner-spin-button {
        filter: sepia(1);
      }
    }
    button {
      @include button();
      display: block;
      margin: 1rem auto;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: $large) {
  #reservation {
    width: 50%;
    h3 {
      width: 61%;
    }
    form {
      width: 100%;
      padding-left: 5rem;
      .form-input {
        @include makeItFlex(row, space-between);
        input,
        textarea {
          margin-top: 1.8dvw;
          width: 70%;
        }
        label,
        select {
          margin-top: 1.8dvw;
          padding: 0.2rem 0rem;
        }
        #date-and-time {
          #date {
            width: auto;
            margin-right: 2rem;
          }
        }
        #number-of-persons {
          width: 11.5%;
        }
      }
    }
  }
}
