@use '../base/forward' as *;

#contacts {
  @include makeItFlex();
  margin-top: 0.5rem;
  align-items: center;
  .info {
    @include makeItFlex();
    width: 80%;
    table {
      color: $title-background-color;
      font-family: $text-font;
      margin-top: 1rem;
      caption {
        font-weight: 600;
        font-size: larger;
        padding-bottom: 0.3rem;
        border-bottom: 2px dashed $title-background-color;
      }
      tbody {
        margin-top: 1rem;
        display: block;
        tr {
          @include makeItFlex(row, space-between);
          padding: 0.3rem 0;
          font-weight: 500;
          #closed {
            padding: 0 1.7rem;
          }
          #adress {
            padding-left: 2rem;
          }
          td {
            a {
              text-decoration: none;
              color: inherit;
              display: inline-block;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  .map {
    margin-top: 1rem;
    @include heightAndWidth(35dvh, 95%);
    iframe {
      @include heightAndWidth(100%);
      border: 1px solid $title-background-color;
    }
  }
}

@media screen and (min-width: $large) {
  #contacts {
    flex-direction: row;
    .info {
      width: 50%;
      table {
        width: 80%;
        align-self: center;
        tbody {
          width: 70%;
          justify-self: center;
        }
      }
    }
    .map {
      margin-top: 0.5rem;
      @include heightAndWidth(48dvh, 50%);
    }
  }
}
