@use '../base/forward' as *;

footer {
  @include heightAndWidth(fit-content);
  @include makeItFlex(row, space-around);
  align-items: center;
  margin-top: 1.5rem;
  background-color: $title-background-color;
  box-shadow: 0px -5px 10px 0px $title-background-color;
  font-family: $menu-font;
  color: $main-background-color;
  font-weight: 500;
  .footer-text {
    padding-left: 0.5rem;
    width: 40%;
    font-size: larger;
  }
  .linkedin {
    width: 20%;
    position: relative;
    z-index: 1;
    &:hover {
      scale: 1.1;
      translate: 0.1rem;
    }
    .background {
      position: absolute;
      top: 0.6rem;
      left: 0.6rem;
      @include heightAndWidth(55%, 65%);
      max-width: 2rem;
      background-color: $main-background-color;
      z-index: -1;
    }
    svg {
      max-height: 3rem;
    }
  }
  .source {
    width: 40%;
    a {
      text-decoration: none;
      color: $main-background-color;
      display: inline-block;
      &:hover {
        transform: scale(1.1);
      }
    }
    summary {
      display: block;
      &::after {
        margin-left: 1ch;
        display: inline-block;
        content: '>Részletek<';
        transition: 0.2s;
        cursor: pointer;
      }
    }
    ul {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: $large) {
  footer {
    .footer-text {
      @include makeItFlex(row, space-around);
      margin-left: 1rem;
    }
    .linkedin {
      width: 5%;
    }
    .source {
      p {
        display: inline-block;
        padding-right: 1.2rem;
      }
      details {
        display: inline-block;
      }
    }
  }
}
