@use '../base/forward' as *;

footer {
  @include heightAndWidth(fit-content);
  @include makeItFlex(row, space-around);
  align-items: center;
  margin-top: 1.5rem;
  background-color: $title-background-color;
  box-shadow: 0px -5px 10px 0px $title-background-color;
  font-family: $menu-font;
  color: $main-background-color;
  font-weight: 500;
  .footer-text {
    padding-left: 0.5rem;
    width: 30%;
    font-size: larger;
  }
  .social {
    width: 20%;
    @include makeItFlex(row, space-between);
    .linkedin,
    .github {
      width: 50%;
      svg {
        max-height: 3rem;
        .background {
          fill: $main-background-color;
          @include heightAndWidth(60%, 54%);
        }
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
  .source {
    width: 40%;
    a {
      text-decoration: none;
      color: $main-background-color;
      display: inline-block;
      &:hover {
        transform: scale(1.1);
      }
    }
    summary {
      display: block;
      &::after {
        margin-left: 1ch;
        display: inline-block;
        content: '>Részletek<';
        transition: 0.2s;
        cursor: pointer;
      }
    }
    ul {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: $large) {
  footer {
    .footer-text {
      @include makeItFlex(row, space-around);
      margin-left: 1rem;
    }
    .source {
      p {
        display: inline-block;
        padding-right: 1.2rem;
      }
      details {
        display: inline-block;
      }
    }
  }
}
