@use './base/forward' as *;
@use './components/01-header' as *;
@use './components/02-introduction' as *;
@use './components/03-menu' as *;
@use './components/04-galery' as *;
@use './components/05-reservation' as *;
@use './components/06-contacts' as *;
@use './components/07-footer' as *;
